<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>JRE Analysis</title>
    {% load static %}
      <link rel="stylesheet" type="text/css" href={% static "stylesheet.css" %}>
</head>

<body>
    <h2> {{ title }} </h2>
    {% if caps == 'No captions available' %}
        <p> {{ caps }} </p>
    {% else %}
        {% for sentence in caps %}
            <p> {{ forloop.counter }} - {{ sentence }} </p>
        {% endfor %}
    {% endif %}
</body>
</html>

<!--
{% for sentence in caps %}
    <p> {{ forloop.counter }} - {{ sentence }} </p>
{% endfor %}
-->